*{
    margin: 0px;
    padding: 0px;
}

body{
	font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial,sans-serif;
    background-image: url("../assets/background/grid-wallpaper.svg");
    background-size: cover;
}

.nav-bar{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: whitesmoke;
    position: fixed;
    top: 0px;
}

.nav-titulo{
    width: 90%;
    margin-top: 20px;
    border-radius: 100px;
    background-image: url("../assets/background/grid-wallpaper.svg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.nav-titulo label{
    width: 100%;
    padding: 10px 0px;
    color:  whitesmoke;
    font-size: 1.2em;
    text-align: center;
    border-radius: 100px;
    background: rgba(0, 0, 0, 0.112);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 5px 20px 0 rgba(0, 0, 0, 0.365);
    border: 1px solid whitesmoke;
    text-shadow: rgba(0, 0, 0, 0.454) 0.1em 0.1em 0.2em;
    text-transform: uppercase;
}

.nav-desc{
    width: 90%;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 1.1em;
    color: #00405e;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
}

.nav-desc i{
    position: absolute;
    top: 50px;
    color: whitesmoke;
    background-color: #00405e;
    padding: 20px;
    border-radius: 100px;
    border: 5px solid whitesmoke;
    box-shadow: inset 0 5px 20px 0 rgba(0, 0, 0, 0.365);
    cursor: pointer;
    transition-duration: 0.3s;
} .nav-desc i:hover{
    color: whitesmoke;
    background-color: #297EA6;
    transition-duration: 0.3s;
}

.section-sugest{
    display: flex;
    justify-content: center;
}

.container-sugestoes{
    width: 90%;
    margin-top: 250px;
    margin-bottom: 20px;
    background: whitesmoke;
    box-shadow: 0 5px 30px 0 #00000047;    
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-sugestoes{
    width: 250px;
    height: 325px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 2%;
    background: rgb(2,0,36);
    background: linear-gradient(167deg, #00101C 0%, #297EA6 28%, #00d4ff 100%);
    box-shadow: 0 5px 15px 0 #0000002d;
    color: black;
    border-radius: 10px;
}

.card-sugestoes-img{
    width: 95%;
    height: 45%;
    background-color: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-sugestoes-img img{
    width: 60%;
    max-width: 100%;
    height: auto;
}

.card-sugestoes-desc{
    width: 95%;
    height: 45%;
    background-color: whitesmoke;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.card-sugestoes-titulo{
    width: 100%;
    height: 30%;
    padding-top: 8px;
    font-weight: 600;
    font-size: 1.2em;
}
.card-sugestoes-info{
    width: 100%;
    height: 70%;
    font-size: 1em;
}

.sugestoes{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    background-image: url("../assets/background/grid-wallpaper.svg");
    background-size: cover;
    display: flex;
    justify-content: center;
}

.sugestoes-aberto {
    display: none;
}

footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    background-color: #00405e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
}

footer i{
    padding: 4px 7px;
    background-color: whitesmoke;
    color: #00405e;
    border-radius: 5px;
}

footer div{
    margin-left: 10px;
    text-decoration: none;
}